@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}


body {
  @apply bg-background text-white;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2E2E2E;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3E3E3E;
}
